.card {
	max-width: 25%;
	margin-bottom: 1.5rem;
}

.wrapper {
	width: 240px;
	height: 340px;
	background-color: rgb(248, 237, 241);
}

.info {
	padding-top: 0.3rem;

	text-align: center;
}

.brand {
	font-size: 0.8rem;
	font-weight: 700;
	text-transform: uppercase;
}

.name {
	margin-bottom: 0.5rem;
}
