@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.navbar {
	position: relative;

	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1.5rem;
	&::after {
		position: absolute;
		top: 100%;
		right: 45%;
		left: 45%;
		height: 1px;

		content: '';
		background-color: #ccc;
	}
}

.logo {
	font-family: 'Lobster', cursive;
	font-size: 1.6rem;
}

.menu {
	display: flex;
}

.link {
	margin: 0 0.75rem;

	list-style: none;
	text-transform: uppercase;
	& a {
		text-decoration: none;
	}
}
